* * {
  /* border: 1px solid red; */
  /* background-color: rgba(255, 0, 0, 0.1); */
}
h1,
h2,
ul,
button,
body {
  margin: 0;
  padding: 0;
  color: inherit;
}

li {
  list-style-type: none;
}
button {
  border: 0;
  background-color: transparent;
  font-size: inherit;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.music-player {
  /* width: 265px;
  height: 445px; */
  border-radius: 5px;
  margin: 0 auto;
  background-color: rgb(67, 200, 207);
  color: white;
  overflow: hidden;
}

.music-player_header {
  padding: 16px;
  background-color: rgb(47, 56, 71);
}
.music-player_header_left {
  float: left;
}
.music-player_header_right {
  float: right;
}

.music-controller {
  /* height: 106px; */
  /* line-height: 106px; */
  background-color: rgb(47, 56, 71);
  font-size: 18px;
}
.music-progress-bar {
  -webkit-appearance: none;
  width: 95%;
  height: 2px;
  margin: 16px auto;
  display: block;
  background-color: rgb(67, 200, 207);
}

.music-progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 8px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}

.music-progress-bar::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
}

.music-controller_left {
  float: left;
  margin: 0 16px;
}
.music-controller_right {
  float: right;
  margin: 0 16px;
}
.music-navigator {
  position: relative;
  text-align: center;
  min-height: 4rem;
  line-height: 4rem;
}

.music-navigator_btn {
  font-size: 1.8rem;
}
.music-navigator_btn.circle {
  border: 1px solid #fff;
  border-radius: 2rem;
  width: 44px;
  height: 44px;
  margin: 0 16px;
}

.music-informations {
  text-align: center;
  background-color: rgb(47, 56, 71);
}

.music-title {
  font-size: 1rem;
}
.music-subtitle {
  margin-top: 4px;
  font-size: 0.8rem;
  color: rgb(102, 108, 120);
}

.music-list-container {
  margin: 16px;
}

.music-list-item {
  margin: 8px 0;
}

.music-informations_cover {
  position: relative;
  text-align: center;
  background: linear-gradient(
    0,
    rgba(67, 200, 207, 1) 0%,
    rgba(47, 56, 71, 1) 100%
  );
  color: white;
  min-height: 430px;
}

.music-informations_cover img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-top: 20px;
  margin: 16px auto;
  bottom: 40%;
  position: absolute;
  left: 0;
  right: 0px;
}

.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}
